# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# production
build/

# environment
.env
.env*.local

# vercel
.vercel

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~
.vim/

# os
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# turbo
.turbo

# sentry
.sentryclirc

# typechain
typechain-types/

# next-env
*.tsbuildinfo
next-env.d.ts
